h1 {
  display: inline;
}
.card {
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);

  font-family: "Jua", sans-serif;
}

.colONE {
  font-size: 35px;
}

.far fa-sun {
  font-size: x-large;
}

.card-footer {
  font-size: x-small;
}
.d-flex {
  padding-left: 285px;
}
