.mainInfo {
  list-style: none;
  font-size: x-large;
}
.card {
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);

  font-family: "Jua", sans-serif;
}

.col {
  font-size: 20px;
}

.far fa-sun {
  font-size: x-large;
}

.d-flex {
  padding-left: 285px;
}
